<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card">
        <div class="card-body">
          <div class="flex justify-between items-center">
            <div class="w-3/4">
              <h1 class="text-2xl font-bold" style="display: inline;">マイページ</h1>
              <ul class="list-inline mt-4">
                <li class="list-inline-item"><strong>ユーザー名:</strong> <%= @user.name %></li>
                <li class="list-inline-item"><strong>メールアドレス:</strong> <%= @user.email %></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>