<footer class="w-full mx-auto flex justify-between items-center bg-gray-500 p-4">
  <nav>
    <%= link_to 'アプリの使い方', '#' %>
  </nav>
  <nav>
    <%= link_to '利用規約', '#' %> |
    <%= link_to 'プライバシーポリシー', '#' %> |
    <%= link_to 'お問い合わせ', '#' %>
  </nav>
</footer>