<header class="w-full mx-auto flex justify-between items-center bg-gray-500 p-4" data-controller="menu">
  <h1 class="text-4xl font-semibold">Framelate</h1>
  <div class="flex justify-between items-center">
    <div>
      <button id="menu-button" data-action="click->menu#toggle">
        <svg id="menu-icon" class="h-6 w-6 fill-current" viewBox="0 0 24 24" data-menu-target="icon">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
        </svg>
      </button>
    </div>
  </div>
</header>